[submodule "zsh-hooks"]
	path = third-party/zsh-hooks
	url = git@github.com:willghatch/zsh-hooks.git
[submodule "third-party/zplugin"]
	path = third-party/zplugin
	url = git@github.com:zdharma/zplugin.git
