priority -50

snippet fline "Full line ---" b
; ----------------------------------------------------------------------------------
endsnippet

snippet mline "Mid line ---" b
; -------------------------------------------------------------
endsnippet

snippet sline "Small line ---" b
; ----------------------------------------
endsnippet

snippet comsection "Comment Section" b
${1}
; ${2:${VISUAL/^; //}}
$1${0}
endsnippet

snippet comheader "Comment Header" b
; ${1:${VISUAL:Comment/^; //}}
${2}${0}
endsnippet

