snippet '' "Multiline string"
''
	${1:${VISUAL}}
''$99
endsnippet

snippet ''i "Inline '' string"
''${1:${VISUAL}}''$99
endsnippet

snippet hash "sha256 dummy entry (SRI format)"
hash = "sha256-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=";
endsnippet

snippet af "attrset field"
${1:attrName} = ${0:value};
endsnippet
