snippet iblock "Template inline  block"
{% block ${1:block_name} %}${VISUAL}$2{% end %}$3
endsnippet

snippet block "Template block"
{% block ${1:block_name} %}
${VISUAL}$2
{% end %}$3
endsnippet

snippet st "Template statement"
{% $1 %}$2
endsnippet
