priority -50

snippet guard "script reload guard" b
if exists('${1:did_`!p snip.rv = snip.fn.replace('.','_')`}') || &cp
	finish
endif
let $1 = 1
endsnippet

# NOTE: no default for the content, because the language does not require it
snippet fn "function" b
function! ${1:function_name}(${2})
	${10:${VISUAL}}
endf
endsnippet

# NOTE: no default for the content, because the language does not require it
snippet if "if .. endif" b
if ${1:condition}
	${10:${VISUAL}}
endif
endsnippet

snippet !p(lug)?! "Plug '...'" br
Plug '$1'
endsnippet

snippet com "Vim comment"
" $0
endsnippet

snippet aug "augroup definition" b
augroup ${1:my_${2:group_name}}
	au!
	$10
augroup END
endsnippet
