# Shadow
shadow = true;				# Enabled client-side shadows on windows.
shadow-radius = 10;			# The blur radius for shadows. (default 12)
shadow-offset-x = -10;		# The left offset for shadows. (default -15)
shadow-offset-y = -10;		# The top offset for shadows. (default -15)

# NOTE: necessary with herbstluftwm to not have obscured wallpaper by a
#       shadow on the main frame (I guess)
shadow-exclude = ["bounding_shaped"]

# Opacity
# menu-opacity = 1;			# The opacity for menus. (default 1.0)
alpha-step = 0.1;

# Fading
fading = true;			# Fade windows during opacity changes.
# fade-delta = 30;		# The time between steps in a fade in milliseconds. (default 10).
fade-in-step = 0.08;		# Opacity change between steps while fading in. (default 0.03).
fade-out-step = 0.08;		# Opacity change between steps while fading out. (default 0.03).

# Other
detect-rounded-corners = true;
detect-client-opacity = true;

# Window type settings
wintypes:
{
  tooltip = { fade = false; shadow = false; };
  dropdown_menu = { fade = false; shadow = true; };
  dnd = { shadow = false; };
  dock = { shadow = false; };
};
