# URL based config

# Disable on OnShape's CAD which uses many bindings
autocmd DocStart  cad.onshape.com  mode ignore

# Disable some toplevel keys that are better handled by the website
unbindurl read.readwise.io j
unbindurl read.readwise.io k

# vim:set ft=conf:
